@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,500&display=swap');
* {
    box-sizing: border-box; /*выбираем способ расчета с учетом рамки*/
}
a, button{
    transition: all .3s ease-in-out;
}
a{
    text-decoration: none;
   
}
body{
    font: 400 22px 'Poppins', sans-serif;
    color: #444444;
    line-height: 1.6;

}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.box{
   
    padding: 90px 0;
}
.box--padding-lg{
    padding: 90px 0;
}
.box-bg-pink{
    background: #ffe9eb;
}
.box-bg-grey{
    background: #eeeeee;
}
.box-bg-gradient{
    background-image: linear-gradient(to bottom, #333399 40%, #fe00cc 100%);
    color: #fff;
}

h1, h2{
    
    font-size: 62px;
}
h3{
    
    font-size: 36px;
}
h4{
    
    font-size: 30px ;
}
h5{
    
    font-size: 24px;
}
header{

    color: #fff;
    position: absolute;
    top: 0;/* привязываем к верху*/
    left: 0;
    right: 0;
}
header a{
    color: inherit; /*от родителя цвет */
}
.logo{
    font-weight: 700;
    font-size: 33px;
}
.logo:hover,
.logo:focus,
.logo:active
{
    color: #e71cb4;
}
nav ul{
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
}

nav ul li a{
    padding: 5px 0;
    font-weight: 700;
    font-size: 17px;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    color: #e71cb4;
    border-color: #e71cb4;
}
header .container{
    display: flex;
    align-items: center;/*растягиваем все в одну строку*/
    justify-content: space-between;
}
.hero{
    min-height: 100vh;
    background: #000;
    display: flex;/* выравниваем*/
    justify-content: center;/*по центру*/
    align-items: center;
    text-align: center;
    color: #fff;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;/*заполнить все поле*/
    background-image: url(../img/hero.jpg);
}
.hero_text{
    font-size: 30px;
}
.hero_title{
    font-size: 30px;
}
.btn{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #e71cd4;
    border: 2px solid #e71cb4;
    border-radius: 5px;
    padding: 15px 50px;
    display: inline-block;

}
.btn--lg{
font-size: 22px;
padding: 25px 80px;
}
.btn:hover,/*при наведении меняет цвет*/
.btn:focus,
.btn:active{
    color: #e71cb4;
    background-color: white;
}
.btn--transporent{
    background-color:transparent;
    border-color: #fff;
}

.btn--transporent:hover,
.btn--transporent:focus,
.btn--transporent:active{
    color: #444444;
}

.text-purpule{
    color: #e71cb4;
}
.text_lg{
    font-size: 32px;
    margin: 90px 0;
}
.course
{
    list-style-type: none;
    padding: 25px 0;
    font-size: 24px;
    font-weight: 500;
    columns: 2;
    column-gap: 30px;

}
.course li
{
    display: flex;
    padding: 25px 0;
    
}
.course__index
{
    font-weight: 700;
    font-size: 44px;
    display: inline-block;
    padding: 0 25px;
    line-height: 1.2;
    flex: 0 0 auto;
}

.course__index > i
{
    margin-right: 25px;
}
.text-yellow
{
    color: #ffde16;
}
.text-salmon
{
    color: #ffbd9e;
}
.text-blue
{
    color: #20c9e0;
}
.text-green
{
    color: #2eac66;
}
.text-center
{
    text-align: center;
}
.text-sm
{
    font-size: 14px;
    margin: 45px 0;
}
.people
{
    list-style-type: none;
    padding: 0;
    margin: 40px 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
.person
{
    padding: 20px 60px;
    text-align: center;
    max-width: 33%;
}
.person__image
{   border-radius: 5%;
    width: 270px;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}
.person__image img
{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.person__name
{
    font-size: 34px;
    font-weight: 700;
}
.person__text
{
    font-size: 16px;
}
.person__image--round
{
    
    border-radius: 50%;
}
.person--padding-sm
{
    padding: 20px;
}