@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box; /*выбираем способ расчета с учетом рамки*/
}
a, button{
    transition: all .3s ease-in-out;
}
a{
    text-decoration: none;
   
}
body{
    font: 400 22px 'Poppins', sans-serif;
    color: #444444;
    line-height: 1.6;

}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.box{
   
    padding: 90px 0;
}
.box--padding-lg{
    padding: 140px 0;
}
.box-bg-pink{
    background: #ffe9eb;
}
.box-bg-grey{
    background: #eeeeee;
}
.box-bg-gradient{
    background-image: linear-gradient(to bottom, #333399 40%, #fe00cc 100%);
}

h1, h2{
    
    font-size: 62px;
}
h3{
    
    font-size: 36px;
}
h4{
    
    font-size: 30px ;
}
h5{
    
    font-size: 24px;
}
header{

    color: #fff;
    position: absolute;
    top: 0;/* привязываем к верху*/
    left: 0;
    right: 0;
}
header a{
    color: inherit; /*от родителя цвет */
}
.logo{
    font-weight: 700;
    font-size: 33px;
}
.logo :hover,
.logo:focus,
.logo :active{
    color: #e71cb4;
}
nav ul{
    padding: 0;
}
nav ul li{
    display: inline-block;
margin-left: 25px;
}

nav ul li a{
    padding: 5px 0;
    font-weight: 700;
    font-size: 17px;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    color: #e71cb4;
    border-color: #e71cb4;
}
header .container{
    display: flex;
    align-items: center;/*растягиваем все в одну строку*/
    justify-content: space-between;
}
.hero{
    min-width: 100vh;
    background: #000;
    display: flex;/* выравниваем*/
    justify-content: center;/*по центру*/
    align-items: center;
    text-align: center;
    color: #fff;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;/*заполнить все поле*/
    background-image: url(../img/hero.jpg);
}
.hero_text{
    font-size: 30px;
}
.hero_title{
    font-size: 30px;
}
.btn{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #e71cd4;
    border: 2px solid #e71cb4;
    border-radius: 5px;
    padding: 15px 50px;
    display: inline-block;

}
.btn--lg{
font-size: 22px;
padding: 25px 80px;
}
.btn:hover,/*при наведении меняет цвет*/
.btn:focus,
.btn:active{
    color: #e71cb4;
    background-color: white;
}
.btn--transporent{
    background-color:transparent;
    border-color: #fff;
}

.btn--transporent:hover,
.btn--transporent:focus,
.btn--transporent:active{
    color: #444444;
}

.text-purpule{
    color: #e71cb4;
}
.text_lg{
    font-size: 32px;
}
